@model int
<!--
     Complete.cshtml
     Austin Cameron - Patrick Ross - Ryan Jameson
     Black Market Auction House
     This is the payment completion page letting the shopper know the transaction was successful.
-->

@{
    ViewBag.Title = "Checkout Complete";
}
<h2>Checkout Complete</h2>
<h3>Thank you for shopping at the Black Market Auction House! </h3> 
<h4>Your order number is: @Model </h4>
<br />
    <h5>How about shopping for more of our rare goods?</h5>
<p class="btn btn-default">
    @Html.ActionLink("Store.","Index", "Home")
    </p>